<!-- Navigation Bar -->

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Form</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>


<!-- Form to take username and password -->

<!-- TODO -> Function which well get called on button click -->
<!-- TODO -> Using template variable log the value on button click -->

<form class="form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" #username>
    <div id="emailHelp" class="form-text">We'll never share your data with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" #password>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" (click)="showPassword(showPass,password)" class="form-check-input" #showPass id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Show Password</label>
  </div>
  <button type="submit" (click)="submit(username, password)" class="btn btn-primary">Submit</button>
</form>